@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Alkatra', cursive;
    background-color: rgb(240, 231, 231);
  }

.todo_list {
    border-radius: 25px; /*use to round border angle*/
    border: 5px solid blue;
    background-color: rgb(202, 229, 239);
}

.todo {
    background-color: rgb(202, 229, 239);
}

.delete-btn {
    cursor: pointer;
    margin-left: 10px;
    background-color: red;
    color: white;
    opacity: 0;
    transition:opacity 0.3s ease;
}

.delete-btn:focus {
    outline: 0;
}

li:hover .delete-btn{
    opacity: 1;
}

.header {
    text-align: center;
}

.form-control {
    display: flex;
    justify-content: center;
}

input {
    margin-left: 10px;
}

label {
    margin-left: 10px;
}

.btn {
    margin-left: 15px
}